

.matchday-card {
    font-size: small;
    text-align: center;
    padding: .4%;
    margin: .4%;
    min-height: 20%;
    position: relative;

    &__status {
        text-align: left;
    }
    &__main-info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--main{
            font-size: medium;
            font-weight: 600;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &--teams {
            margin: 2%; 
            display: flex;
            justify-content: flex-start;
            flex-flow: row;
        }

        &--score-card {
            background-color: rgb(143, 31, 31);
            // border: 1px solid white;
            border-radius: 5px;
            display: flex;
            padding: 0px 3% 0px;   
        }

        &--time-card {
            border: 1px solid white;
            border-radius: 5px;
            display: flex;
            padding: 0px 3% 0px;   
        }
    }
    
    &__time{
        margin: 0;
        font-size: small;
        color: darkgrey;
    }
}

//pseudo-element shared styling 
.matchday-card ::before,
.matchday-card ::after {
    content: '';
    //display: inline-block;
    position: absolute;
    background-color: darkgray;
    z-index: 1;
}

//borders for rows
.matchday-card ::after{
    inline-size: 100vw;
    block-size: 2px;
    inset-inline-start: 0;
    inset-block-start: calc(2px * -1); // because gap is 4px 
}

//borders for columns 
.matchday-card ::before {
  inline-size: 2px;
  block-size: 100vh;
  inset-inline-start: calc(2px * -1);
  inset-block-start: 0;
}