.matchday-card {
    font-size: x-small;
    text-align: center;
    padding: .4%;
    margin: .4%;
    min-height: 20%;
    position: relative;

    &__status {
        text-align: left;
    }
    &__main-info-container{
        display: flex;

        &--verses{
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-right: 8%;
        }
        &--teams {
            margin: 2%; 
            display: flex;
            justify-content: flex-start;
            flex-flow: row;
        }

        &--score-card {
            width: 40%;
            display: block;
            padding: 2%;
            border-left: 1px solid rgb(94, 93, 93);
            span {
                display: block;
            }
        }

    }
    
    &__time{
        margin: 0;
        font-size: xx-small;
        color: darkgrey;
    }
}

//pseudo-element shared styling 
.matchday-card ::before,
.matchday-card ::after {
    content: '';
    //display: inline-block;
    position: absolute;
    background-color: darkgray;
    z-index: 1;
}

//borders for rows
.matchday-card ::after{
    inline-size: 100vw;
    block-size: 2px;
    inset-inline-start: 0;
    inset-block-start: calc(2px * -1); // because gap is 4px 
}

//borders for columns 
.matchday-card ::before {
  inline-size: 2px;
  block-size: 100vh;
  inset-inline-start: calc(2px * -1);
  inset-block-start: 0;
}