
.matchweek-container {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows: repeat(3, minmax(0,1fr));
    overflow: hidden;
    gap: 4px;
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;

    &__matchday-link {
        text-decoration: none;
    }
    &__matchday-link:hover {
        background-color: dimgrey;
    }
 
}