@import '../../mixins/mixin.scss';
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    max-height: 130px;
}

.list-item {
    align-content: center;
}

.header-link {
    @include center-img-text;
    text-decoration: none;
    align-content: center;
}

.flag-navigation {
   display: flex;
   width: 25%;
   justify-content: space-between;
   align-content: center;
   list-style: none;
}



