h1 {
    font-size: 2.8em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.header-link {
    text-decoration: none;
}

.flag-navigation {
   display: flex;
   width: 25%;
   justify-content: space-between;
   list-style: none;
}

