.carousel-container{
  //  width: 100%;
    display: block;
    border: 2px solid darkgrey;
    border-radius: 5px;
    padding: .8%;
    margin: 5% 0 5%;
    height: fit-content;

    //because both of these are going to have the exact same styling
    &__leftbtn,
    &__rightbtn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: .3%;
    }

    &__leftbtn:hover,
    &__rightbtn:hover {
        background-color: lightgray;
        border-radius: 5px;
    }

    &__carousel-row{
        //border: 2px solid red;
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__matchweek-info {
        //border: 2px solid blue;
        display: block;
        width: 48%;
    }

}