.section-body{
    margin: 0 2% 0;
}

.header-img{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.league-logo {
    width: 200px;
    height: 200px;
}

.all-tables-container {
    display: flex;
    justify-content: space-around;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 3px white;
}
caption {
    font-weight: 700;
    font-size:x-large;
    text-align: left;
    margin: 4% 0;
}
  
thead th:nth-child(1) {
    width: 5%;
}

thead th:nth-child(2) {
    width:20%;
}

thead th:nth-child(3) {
    width: 5%;
}

thead th:nth-child(4) {
    width: 5%;
}
thead th:nth-child(5) {
    width: 5%;
}
thead th:nth-child(6) {
    width: 5%;
}
thead th:nth-child(7) {
    width: 5%;
}
thead th:nth-child(8) {
    width: 5%;
}
thead th:nth-child(9) {
    width: 5%;
}
thead th:nth-child(10) {
    width: 5%;
}

th {
    border-bottom: 2px solid white;
    padding: 2% 0 2%;
}

tbody td {
    text-align: left;
}

tbody tr {
    border-bottom: 2px solid white;
}

td {
    padding: 20px;
}

.points-data {
    font-weight: 700;
}

.timer {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    box-shadow: inset 0 0 0 2px white;
    border-radius: 7px;
    width: fit-content;
    padding: .8%;
    margin: auto;
    margin-bottom: 3%;
}

.timeout-para {
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    margin-bottom: 3%;
}

.timeout-disabled {
    text-decoration: none;
    font-size: medium;
    border-radius: 7px;
    margin: auto;
    width:fit-content;
    padding: 1%;
    font-weight: 700;
    box-shadow: inset 0 0 0 2px grey;
    background-color: gray;
}

.navigate {
    text-decoration: none;
    font-size: medium;
    border-radius: 7px;
    margin: auto;
    margin-top: 5%;
    cursor: pointer;
    width:fit-content;
    padding: 1%;
    font-weight: 700;
    box-shadow: inset 0 0 0 2px white;
}

.navigate:hover {
    transition: all 0.3s;
    background-color: white;
    color: black;

}