@import '../../mixins/mixin.scss';

.info-header-container {
    display: flex;
    justify-content: center;
    padding: 2% 2% 1% 2%;

    &__header {
        font-size: x-large;
        font-weight: 700;
        width: 30%;
        @include center-img-text;
    }
    
    &__fulltime-score {
        font-size: x-large;
        font-weight: 700;
        width: 5%;
        display: flex;
        justify-content: center;
    }
}

.referee-info-container{
    // max-width: 80%;
    // max-height: 80%;
    // border: 2px solid whitesmoke;
    // border-radius: 5px;
    margin: auto;
    text-align: center;
    padding: 1%;
}


